#p1{
    color: #06796A;
    font-family: 'Rubik Bubbles', cursive;
}
#p2{
    color: #104294;
    font-family: 'Sevillana', cursive;
}
#p3{
    color: #F0A5BB;
    font-family: 'Rubik Vinyl', cursive;
}